---
import Head from "@/components/Head.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import PagefindConfig from "astro-pagefind/components/PagefindConfig.astro";
import PageFind from "@/components/PageFind.astro";
import { SITE } from "@/consts";

type Props = {
  title: string;
  description: string;
  pagefindIndex?: boolean;
  jsonLd?: Record<string, any>;
};

const { title, description, jsonLd, pagefindIndex = false } = Astro.props;
const lang = Astro.currentLocale;
---

<!doctype html>
<html lang={lang}>
  <head>
    <Head
      title={`${title} | ${SITE.TITLE}`}
      description={description}
      jsonLd={jsonLd}
    />
  </head>
  <body>
    <noscript>
      <style>
        .animate {
          opacity: 1;
          translate: var(--tw-translate-x) calc(var(--spacing) * 0);
        }
      </style>
    </noscript>
    <Header />
    <main data-pagefind-body={pagefindIndex ? true : undefined}>
      <slot />
    </main>
    <Footer />
    <PagefindConfig />
    <PageFind />
  </body>
</html>
